/* Paleta de colores */

.pink {
    background-color: #d50f67;
}

.pink-text {
    color: #d50f67;
}

.pink-hover {
    background-color: #f39aae;
}

.pink-hover-text {
    color: #f39aae;
}

.dark-blue {
    background-color: #0055b7;
}

.dark-blue-text {
    color: #0055b7;
}

.dark-blue-hover {
    background-color: #6b94d4;
}

.dark-blue-hover-text {
    color: #6b94d4;
}

.green {
    background-color: #3fae29;
}

.green-text {
    color: #3fae29;
}

.green-hover {
    background-color: #a7d795;
}

.green-hover-text {
    color: #a7d795;
}

.purple {
    background-color: #94348c;
}

.purple-text {
    color: #94348c;
}

.purple-hover {
    background-color: #cc99c4;
}

.purple-hover-text {
    color: #cc99c4;
}

.orange {
    background-color: #ff4c00;
}

.orange-text {
    color: #ff4c00;
}

.orange-hover {
    background-color: #ffac83;
}

.orange-hover-text {
    color: #ffac83;
}

.yellow {
    background-color: #f4b708;
}

.yellow-text {
    color: #f4b708;
}

.yellow-hover {
    background-color: #edcf71;
}

.yellow-hover-text {
    color: #edcf71;
}

.light-blue {
    background-color: #03a9f4;
}

.light-blue-text {
    color: #03a9f4;
}

.light-blue-hover {
    background-color: #addaf7;
}

.light-blue-hover-text {
    color: #addaf7;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.menu-container {
    height: 108px !important;
}


.menu-container nav a
{
    color: #212121;
    padding: 0px 2px;
}

.navbar2 .nav-wrapper ul a,
.navbar2 h5 {
    letter-spacing: .1px;
    text-transform: uppercase;
    padding: 10px 8px;
    font-family: 'Roboto', sans-serif;
}
#menu-desktop li a {
    /*border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #fff*/;
}

#menu-desktop li a:hover{
    color: #0057b8;
    background-color: white;
    font-weight: bolder;
    
    /*border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #0057b8*/;
}

.submenu-desktop {
    width: auto !important;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #fc4c02;
}

#menu-desktop .submenu-desktop li a:hover {
    color: white;
    background-color: #fc4c02;
    
    /*border-bottom-style: solid;
    border-bottom-width: 0px;
    border-bottom-color: #0057b8;*/
}

#menu-desktop .submenu-desktop li{
    min-height: 0px;
}

/*#menu-desktop .submenu-desktop {
    margin-top: 0px !important;
}*/

.menu-container nav ul a i {
    color:#0057b8;
}

.img-proteccion-civil {
    max-height: 56px;
}

.img-gobierno-queretaro {
    max-height: 150px;
}

footer {
    color: #000;
}

footer .row {
    margin-bottom: 0;
}

footer ul li {
    display: inline-block;
    float: none;
    clear: none;
}

footer ul {
    text-align: center;
    padding: 10px;
    margin: 0px;
}

footer ul a {
    font-size: .8em;
    padding: 0px 20px;
    color: white;
    font-weight: 200;
}

.footer-copyright {
    font-size: .75em;
    height: auto;
    padding: 0px !important;
    height: 30px;
}

.right-border {
    border-right-style: solid;
    border-right-color: black;
    border-right-width: thin;
}


.footer-images {
    border-style: solid;
    border-color: black;
    border-width: thin;
    padding: 20px 0px;
    width: 100%;
}

.page-footer {
    padding-top: 0px;
}


.section h6 {
    padding: 50px 0px;
    font-size: 24px;
}

.section h6,
.section h5,
.section h4,
.section h3,
.section h2,
.section h1 {
    padding: 1% 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.section h5.titulo {
    position: relative;
    padding-top: .5em;
    font-size: 40px;
    font-weight: 500;
}

.section h5.titulo:after{
    content: "";
    position: absolute;
    width: 6%;
    height: .1em;
    background: #0057b8;
    top: -1px;
    left: 47%;
}

.slider-container {
    border-bottom-color: #e0e0e0;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    
}

.uppercase {
    text-transform: uppercase !important;
}

.container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.divider {
    margin: 20px 0px;
}

.top-nav-bar {
    height: 20px;
    padding: 0 20px;
}

i.right {
    margin-left: 2px;
    display: none;
}

.top-nav-bar.row {
    margin: 0px;
}

.icon-container {
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

.menu-container .nav-wrapper {
    padding: 0px 20px;
    height: auto;
}

.menu-container .nav-wrapper a {
    font-size: .76rem;
}

.nav-wrapper a {
    height: auto;
}

.nav-wrapper .row {
    width: 100%;
    margin: 0;
}

.logo {
    display: inline-block;
    height: 100%;
}

.logo>img {
    vertical-align: middle
}

.divider {
  height: 2px;
  overflow: hidden;
  background-color: #e0e0e0;
  width: 100%;
}

#ultima_noticia {
    height: 100%;
    margin: 0px;
}

#noticias .col {
    height: 100%;
}

.card.horizontal .card-image img {
    height: 100px;
    width: 120px;
}

.other-news .row {
    margin: 0px;
}

.card.horizontal .card-stacked .card-content{
    padding: 0px 25px;
}

.date-wrapper {
    width: 80px;
    padding: 1px;
}

.navbar1{
    height:auto;
    line-height: inherit;
}



.navbar1 i {
    height: 20px;
    margin-left: 20px;
}

.navbar2 {
    height: auto;
    z-index: 99;
}

.slider-container {
    padding: 2%;
}

.slider .slides li img {
    background-size:100% auto;
    background-repeat: no-repeat;
    background-color: white;
}

.feed-twitter, .main-news, .other-news {
    height: 536px !important;
}

.card .card-content {
    padding: 24px 0px;
}

.card.horizontal {
    margin: 0 !important;
}

#noticias {
    margin: 30px 0px 20px 0px;
}

.modal .modal-content {
    padding: 24px;
    padding-bottom: 64px;
    margin-bottom: 56px;
}

.modal { 
    width: 60% !important; 
    max-height: 100% !important; 
    overflow-y: hidden !important ;
}

.modal.modal-fixed-footer {
    padding: 0;
    height: 96%;
    top: 2% !important;
}

footer .fixed-action-btn ul {
    left: -150px;
}

footer .fixed-action-btn ul li {
    display: block;
    margin: 0 auto;
}

footer .fixed-action-btn ul a {
    padding: 0px;
    color: #616161;
}

footer .fixed-action-btn ul a i{
    margin: 10px;
    font-size: 1.6rem;
}

footer .fixed-action-btn.active ul{
    background-color: #f5f5f5;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
    opacity: .99;
    padding-left: 5px;
    color: #616161;
}

.timeline-Header {
    background-color: #2B7BB9;
}

#righthalf {
    float: left;
    width: 100%;
    background: #eee;
    height: 100%;
    align-content: center;
    text-align: center;
    background-color: transparent;
}

#lefthalf {
    float: left;
    width: 100%;
    vertical-align: center;
    font-size: 1em;
    height:100%;
}

#righthalf img {
    max-height: 100%;
    max-width: 100%;
}

.carousel {
    height: 200px;
}

.feed-twitter, .main-news, .other-news {
    height: 536px !important;
    line-height: 1.2em;
}



.user-menu .fixed-action-btn ul {
    left: -150px;
}

.user-menu .fixed-action-btn ul li {
    display: block;
    margin: 0 auto;
}

.user-menu .fixed-action-btn ul a {
    padding: 0px;
    color: #616161;
}

.user-menu .fixed-action-btn ul a i{
    margin: 10px;
    font-size: 1.6rem;
}

.user-menu .fixed-action-btn.active ul{
    background-color: #f5f5f5;
    border-style: solid;
    border-width: 1px;
    border-color: #e0e0e0;
    opacity: .99;
    padding-left: 5px;
    color: #616161;
}

footer .fixed-action-btn ul {
    left: -150px;
}

.imagecontainer {
    width: 100%;
    height: 100%;
}

.imagecontainer img {
    max-height: 100%;
    max-width: 100%;
}