<form action="">
            <nav>
                <div class="nav-wrapper light-blue valign-wrapper">
                    <h1 class="brand-logo center flow-text">Agregar evento</h1>
                </div>
            </nav>
            <div class="modal-content black-text">
                <div class="row">
                    <div class="input-field col s12 m12 l8">
                        <select>
                              <option value="" disabled selected>-- Selecciona un tipo de evento --</option>
                              <option value="1">Junta</option>
                              <option value="2">Simulacro</option>
                              <option value="3">Taller</option>
                            </select>
                        <label>Tipo</label>
                    </div>

                    <div class="input-field col s12 m12 l12">
                        <input id="titulo" type="text" class="validate" required>
                        <label for="titulo">Título</label>
                    </div>

                    <div class="input-field col s12 m12 l12">
                        <textarea id="descripcion" class="materialize-textarea" data-length="500" required></textarea>
                        <label for="descripcion">Descripción</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="fecha_inicio" type="text" class="datepicker" required>
                        <label for="fecha_inicio"><i class="material-icons left">date_range</i>Fecha de inicio</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="hora_inicio" type="text" class="timepicker" required>
                        <label for="hora_inicio"><i class="material-icons left">access_time</i>Hora de inicio</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="fecha_fin" type="text" class="datepicker" required>
                        <label for="fecha_fin"><i class="material-icons left">date_range</i>Fecha de fin</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="hora_fin" type="text" class="timepicker" required>
                        <label for="hora_fin"><i class="material-icons left">access_time</i>Hora de fin</label>
                    </div>

                    <div class="input-field col s12 m12 l9">
                        <input placeholder="https://www.youtube.com/..." id="url" type="text" class="validate">
                        <label for="url">URL Video</label>
                    </div>

                    <div class="col s12 m12 l9">
                        <div class="file-field input-field">
                            <div class="btn light-blue">
                                <span><i class="material-icons left">attach_file</i>Adjuntar</span>
                                <input type="file" multiple>
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Adjuntar uno o más archivos">
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
            <div class="modal-footer">
                <div class="row">
                    <div class="col s12 m4 l4"><a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Bitácora de Modificaciones</a></div>
                    <div class="col s12 m4 l4"><a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Guardar Borrador</a></div>
                    <div class="col s12 m4 l4"><input type="submit" value="Publicar" name="publicar" class="btn light-blue"></div>
                </div>
            </div>
        </form>