
        <form method="post" action="verificar-subir-articulo.php" enctype="multipart/form-data">
        <nav>
            <div class="nav-wrapper light-blue valign-wrapper">
                <h1 class="brand-logo center flow-text">Agregar artículo</h1>
             </div>
        </nav>
        <div class="modal-content black-text">
            <div class="row">
                
                    <div class="row">
                        <div class="input-field col s12 m12 l12">
                            <input placeholder="Título del artículo" data-length="100" id="titulo" type="text" class="validate" name="titulo">
                            <label for="titulo">Título</label>
                        </div>
                    
                        
                        <div class="input-field col s12 m12 l12">
                            <textarea id="cuerpo" class="materialize-textarea validate" data-length="5000" name="cuerpo"></textarea>
                            <label for="cuerpo">Cuerpo del artículo</label>
                        </div>
                        
            
                        
                        <div class="col s12">
                            <div class="file-field input-field">
                                <div class="btn light-blue">
                                    <i class="large material-icons">photo</i>
                                    <input type="file" multiple>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Adjuntar una o más imágenes" name="fotos">
                                </div>
                            </div>
                        </div>
                        
                        <div class="col s12">
                            <div class="file-field input-field">
                                <div class="btn light-blue">
                                    <i class="large material-icons">attach_file</i>
                                    <input type="file" multiple>
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="Adjuntar uno o más archivos" name="archivos">
                                </div>
                            </div>
                        </div>
                        
                        <div class="input-field col s12">
                            <input placeholder="https://www.youtube.com/..." id="url" type="text" class="validate" name="video">
                            <label for="url">URL Video</label>
                        </div>
                        
                        <div class="col s12 m4 l4">
                            <div class="switch">
                                
                                <label>
                                    <span>Fijar artículo </span></br>
                                    No fijar
                                    <input type="checkbox" onclick="fijarArticulo(this)" name="fijar">
                                    <span class="lever"></span>
                                    Sí fijar
                                </label>
                             </div>
                        </div>
                        
                        <div class="col s12 m4 l4" id="fecha-articulo">
                            <label for="fecha">Fecha fin de artículo fijo</label>
                            <input id="hora" type="text" class="datepicker" name="fecha">
                        </div>
                        
                        <div class="col s12 m4 l4" id="hora-articulo">
                            <label for="hora">Hora fin de artículo fijo</label>
                            <input id="hora" type="text" class="timepicker" name="hora">
                        </div>
                    </div>
            </div>
        </div>
        
        
        <div class="modal-footer pinned">
            <div class="row">
                <div class="col s4 m4 l4"><a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat flow-text">Bitácora de Modificaciones</a></div>
                <div class="col s4 m4 l4"><a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat flow-text">Guardar Borrador</a></div>
                <div class="col s4 m4 l4"><button class="btn waves-effect waves-light light-blue flow-text" type="submit" name="action">Enviar
                    <i class="material-icons right">send</i>
                </button></div>
            </div>
        </div>
    </form>
