<div class="section">
            <h5 class="center-align uppercase titulo">Título</h5>
            <div class="container">
                <div id="righthalf">
                    <img src="images/banner1.jpg"></img>
                </div>
                <div class="container">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Longum est enim ad omnia respondere,
                    quae a te dicta sunt. Ea, quae dialectici nunc tradunt et docent, nonne ab illis instituta sunt aut 
                    inventa sunt? Cum sciret confestim esse moriendum eamque mortem ardentiore studio peteret, quam Epicurus 
                    voluptatem petendam putat. Et adhuc quidem ita nobis progresso ratio est, ut ea duceretur omnis a prima
                    commendatione naturae. Mihi, inquam, qui te id ipsum rogavi? Duo Reges: constructio interrete. Quam
                    vellem, inquit, te ad Stoicos inclinavisses! erat enim, si cuiusquam, certe tuum nihil praeter virtutem
                    in bonis ducere. Innumerabilia dici possunt in hanc sententiam, sed non necesse est. Sit ista in Graecorum 
                    levitate perversitas, qui maledictis insectantur eos, a quibus de veritate dissentiunt. Scaevolam M. </p>
        
                    <p>Servari enim iustitia nisi a forti viro, nisi a sapiente non potest. Haec mihi videtur delicatior, ut ita
                    dicam, molliorque ratio, quam virtutis vis gravitasque postulat. Dicet pro me ipsa virtus nec dubitabit isti 
                    vestro beato M. Igitur neque stultorum quisquam beatus neque sapientium non beatus. Quamquam id quidem, infinitum 
                    est in hac urbe; Nihil enim desiderabile concupiscunt, plusque in ipsa iniuria detrimenti est quam in iis rebus emolumenti, quae pariuntur iniuria. De malis autem et bonis ab iis animalibus, quae nondum depravata sint, ait optime iudicari. Et quidem, inquit, vehementer errat; Non minor, inquit, voluptas percipitur ex vilissimis rebus quam ex pretiosissimis. Sed vos squalidius, illorum vides quam niteat oratio. Negat enim summo bono afferre incrementum diem. </p>
                    
                    <p>Satisne igitur videor vim verborum tenere, an sum etiam nunc vel Graece loqui vel Latine docendus? Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus; Ut in geometria, prima si dederis, danda sunt omnia. Nihilne te delectat umquam -video, quicum loquar-, te igitur, Torquate, ipsum per se nihil delectat? Quod autem ratione actum est, id officium appellamus. Cur igitur easdem res, inquam, Peripateticis dicentibus verbum nullum est, quod non intellegatur? Sic est igitur locutus: Quantus ornatus in Peripateticorum disciplina sit satis est a me, ut brevissime potuit, paulo ante dictum. Sed quamquam negant nec virtutes nec vitia crescere, tamen utrumque eorum fundi quodam modo et quasi dilatari putant. Quas enim kakaw Graeci appellant, vitia malo quam malitias nominare. Illud dico, ea, quae dicat, praeclare inter se cohaerere. Qui si omnes veri erunt, ut Epicuri ratio docet, tum denique poterit aliquid cognosci et percipi. </p>
                    
                    <p>Habes undique expletam et perfectam, Torquate, formam honestatis, quae tota quattuor his virtutibus, quae a te quoque commemoratae sunt, continetur. Ita fit illa conclusio non solum vera, sed ita perspicua, ut dialectici ne rationem quidem reddi putent oportere: si illud, hoc; Num igitur dubium est, quin, si in re ipsa nihil peccatur a superioribus, verbis illi commodius utantur? Quid, si non sensus modo ei sit datus, verum etiam animus hominis? Ex ea difficultate illae fallaciloquae, ut ait Accius, malitiae natae sunt. Stuprata per vim Lucretia a regis filio testata civis se ipsa interemit. Perfecto enim et concluso neque virtutibus neque amicitiis usquam locum esse, si ad voluptatem omnia referantur, nihil praeterea est magnopere dicendum. </p>
                    
                    <p>Itaque quantum adiit periculum! ad honestatem enim illum omnem conatum suum referebat, non ad voluptatem. Sed id ne cogitari quidem potest quale sit, ut non repugnet ipsum sibi. Sic est igitur locutus: Quantus ornatus in Peripateticorum disciplina sit satis est a me, ut brevissime potuit, paulo ante dictum. Nam et complectitur verbis, quod vult, et dicit plane, quod intellegam; Nam adhuc, meo fortasse vitio, quid ego quaeram non perspicis. Ergo ita: non posse honeste vivi, nisi honeste vivatur? Animum autem reliquis rebus ita perfecit, ut corpus; Maximeque eos videre possumus res gestas audire et legere velle, qui a spe gerendi absunt confecti senectute. Id enim volumus, id contendimus, ut officii fructus sit ipsum officium. Sin laboramus, quis est, qui alienae modum statuat industriae? Nec vero pietas adversus deos nec quanta iis gratia debeatur sine explicatione naturae intellegi potest. Occultum facinus esse potuerit, gaudebit; Non igitur de improbo, sed de callido improbo quaerimus, qualis Q. Nam his libris eum malo quam reliquo ornatu villae delectari. Superiores tres erant, quae esse possent, quarum est una sola defensa, eaque vehementer. Nec vero hoc oratione solum, sed multo magis vita et factis et moribus comprobavit. </p>
                </div>
            </div>
            

</div>