<!-- Modal Structure -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Registration Form</h4>
    <div class="row">
      <form class="col s12" action="submit.php" method="post">
        <div class="row">
          <div class="input-field col s6">
            <input name="first_name" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s6">
            <input name="last_name" id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <input name="password" id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="email" id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <button type="submit" id="submit_form" hidden="hidden"></button>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat ">Disagree</a>
    <label for="submit_form" class="modal-action modal-close waves-effect waves-red btn-flat ">Agree</a>

    </div>
  </div>



  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Registration Form PHP</h1>
        <div class="row center">
          <h5 class="header col s12 light">Laboratory # 11 "Press the Button"</h5>
        </div>
        <div class="row center">
          <a id="download-button" class="btn-large waves-effect waves-light teal lighten-1 btn modal-trigger" href="#modal1">Start</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="background1.jpg" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">¿Por qué es una buena práctica separar el controlador de la vista?</h5>

            <p class="light">Ya que se hace mas segura la aplicación de manera que es menos vulnerable a ataques XSS o CCXS ya que el script y php no esta acessible para los demas usuarios y las validaciones / funcione spermanecen ocultas, ademas de efectuar el fin de HTML5 que es separar los componentes por capas</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Aparte de los arreglos $_POST y $_GET, ¿qué otros arreglos están predefinidos en php y cuál es su función?</h5>

            <p class="light"><ul>
              <li>$GLOBALS: Referencias a todas la variables que están definidas en el ámbito global del script<br /></li>
              <li>$_SERVER: Info de cabeceras, rutas y ubicaciones de script<br /></li>
              <li>$_FILES: Elementos subidos al script en curso a través del método POST<br /></li>
              <li>$_COOKIE: Variables pasadas al script actual a través de Cookies HTTP<br /></li>
              <li>$_SESSION: Variables de sesión disponibles para el script actual<br /></li>
              <li>$_REQUEST: Contiene el contenido de $_GET, $_POST y $_COOKIE<br /></li>
              <li>$_ENV: Variables pasadas al script actual a través del método del entorno<br /></li>
            </ul></p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Explora las funciones de php, y describe 2 que no hayas visto en otro lenguaje y que llamen tu atención.</h5>

            <p class="light">mysqli_data_seek() = Adjusts the result pointer to an arbitrary row in the result-set</p>
            <p class="light">levenshtein() = Returns the Levenshtein distance between two strings</p>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">¿Qué es XSS y cómo se puede prevenir?</h5>

            <p class="light">XSS es un ataque de inyección de código malicioso para su posterior ejecución que puede realizarse a sitios web, aplicaciones locales e incluso al propio navegador. Sucede cuando un usuario mal intencionado envía código malicioso a la aplicación web y se coloca en forma de un hipervínculo para conducir al usuario a otro sitio web, mensajería instantánea o un correo electrónico. Así mismo, puede provocar una negación de servicio.</p>
            <p class="light"> Se puede prevenir validando del lado del servidor como del usuario, implementando htmlspecialcharacters(),htmlentities(), a la vez codificar datos, validar datos de entrada, determinar cookies y emplear firewalls de aplicaciones. </p>
          </div>
        </div>
      </div>

    </div>
  </div>
