

<!-- Modal Structure -->
<div id="modal2" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Upload Photo</h4>
    <div class="container row center">
      <img id="blah" src="http://placehold.it/240" style="max-width: 25em" alt="Your image" />

    </div>
    <div class="row">

      <form action="photo.php" method="post" enctype="multipart/form-data">
        <div class="file-field input-field">
          <div class="btn">
            <span>Photo(Img)</span>
            <input id="foto" name="foto" onchange="readURL(this);" type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>




        <button type="submit" id="submit_form2" hidden="hidden"></button>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <a class="modal-action modal-close waves-effect waves-green btn-flat ">Cancel</a>
    <label for="submit_form2" class="modal-action modal-close waves-effect waves-red btn-flat ">Upload</a>

    </div>
  </div>


<div class="container">
  <div class="section" id="done" style="padding: 13em 0em">

    <h3 class="center brown-text"><strong> You've been registered!</strong></h3>
    <h4 class="center brown-text"><strong>Name: </strong><?=$fn?> <?=$ln?></h3>
    <h4 class="center brown-text"><strong>Email: </strong><?=$em?> </h3>
    <div class="row center">
        <a id="download-button" class="btn-large waves-effect waves-light teal lighten-1 btn modal-trigger" href="#modal2">Upload Photo</a>
    </div>

  </div>
</div>
