
  <footer class="page-footer teal">
    
           
    
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href="">Manuel García</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/Examen.js"></script>
  <script type="text/javascript" src="js/ajax.js"></script>
</body>

</html>
