
  
      <h4>Seleccion Estado</h4>
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div class="input-field col s6">
               

                      <select id="Estado" name="Estado" class="validate" required>
                    <option value="Infeccion">Infeccion</option>
                    <option value="Coma">Coma</option>
                    <option value="Transformacion">Transformacion</option>
                    <option value="Completamente Muerto">Completamente Muerto</option>
                  </select>
                      <label for="Estado">Estado</label>
            
            </div>
            
    </div>

    <button onclick="obtenerEstado()" id="accion">Obtener PoR Estado</button>
    </div>
    </div>
    
    
    
    <div id ="answer"> </div>
   