
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">¿Qué es ODBC y para qué es útil?</h5>
          <p class="grey-text text-lighten-4">Open DataBase Connectivity (ODBC) estandar de acesso a bases de datos, es util para crear una capa intermedia entre la aplicacion y el DBMS de manera que sin importar que DBMS se emplee se pueda acceder a la informacion.</p>


        </div>
           <div class="col l6 s12">
          <h5 class="white-text">¿Qué es SQL Injection?</h5>
          <p class="grey-text text-lighten-4">Tecnica de insercion de codigo que busca destruir una BD o robar informacion de ella por medio del request de input a un usaurio donde este responde con codigo SQL que es interpretado y respondido por la aplicacion</p>
     <br>
     <br>

        </div>
           <div class="col l6 s12">
          <h5 class="white-text">¿Qué técnicas puedes utilizar para evitar ataques de SQL Injection?</h5>
          <p class="grey-text text-lighten-4">Validando y sanitizando los inputs que se le solicitan al usuario, usando Query predeterminados o estandarizados, convirtiendo los caracteres especiales, proteger instrucciones de busqueda, verificar tamaño y tipo de datos, no usar sql construido dinamicamente.</p>


        </div>
       <div class="col l6 s12">
          <h5 class="white-text"> ¿Por qué es una buena práctica separar el modelo del controlador?</h5>
          <p class="grey-text text-lighten-4">Ya que de esta manera se asegura un poco que la informacion no este a simple vista, es decir que cualquier persona pueda entrar directo a modificarla e intentar alterar la aplicacion de manera ilicita, a la vez esta establecido que la ide ade HTML 5 es mantener cada capa totalmente separa con el fin de brindar una menjor mantenibilidad al codigo, hacerlo mas estrucgturado y finalmente mas seguro</p>


        </div>
          </div>
           
      
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a class="brown-text text-lighten-3" href="">Manuel García</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="js/Lab11.js"></script>

</body>

</html>
