<a class="right btn-floating btn-large waves-effect waves-light red add modal-trigger" href="#modal1"><i class="material-icons" >add</i></a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Add Account</h4>
      
      
      <div class="row">
    <form class="col s12" method="POST" action="form.php">
      <div class="row">
        <div class="input-field col s4">
          <input id="Name" name="Name"  type="text" class="validate" required>
          <label for="Name">First Name</label>
        </div>
        <div class="input-field col s4">
          <input id="Lastname" name="Lastname"type="text" class="validate" required>
          <label for="Lastname">Last Name</label>
        </div>
        <div class="input-field col s4">
          <input id="S_Lastname" name="S_Lastname" type="text" class="validate" required>
          <label for="S_Lastname">Second LN</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="Email" name ="Email"type="email" class="validate" required>
          <label for="Email">Email</label>
        </div>
        <div class="input-field col s6">
          <input id="Phone" name="Phone"type="text" class="validate" required>
          <label for="Phone">Phone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input onkeypress="sendRequest()" id="Address" name="Address"type="text" class="validate" >
          <label for="Address">Address</label>
           <div id="ajaxResponse"></div>
        </div>
      </div>
       <button type="submit" id="submit_form1" hidden="hidden"></button>
    </form>
  </div>
  
  
  
  
    </div>
    <div class="modal-footer">
      <label for="submit_form1" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
  </div>
  
  
  <!-- Modal Structure -->
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
      <h4>Update Account</h4>
      
      
      <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <input id="Name" type="text" class="validate">
          <label for="Name">First Name</label>
        </div>
        <div class="input-field col s4">
          <input id="Lastname" type="text" class="validate">
          <label for="Lastname">Last Name</label>
        </div>
        <div class="input-field col s4">
          <input id="S_Lastname" type="text" class="validate">
          <label for="S_Lastname">Second LN</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="Email" type="email" class="validate">
          <label for="Email">Email</label>
        </div>
        <div class="input-field col s6">
          <input id="Phone" type="text" class="validate">
          <label for="Phone">Phone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="Address" type="text" class="validate">
          <label for="Address">Address</label>
        </div>
      </div>
       <button type="submit" id="submit_form2" ></button>
    </form>
  </div>
  
  
  
  
    </div>
    <div class="modal-footer">
      <label for="submit_form2" class="modal-action modal-close waves-effect waves-green btn-flat ">Confirm</a>
    </div>
  </div>
  
  
  
  

  <!-- Modal Structure -->
  <div id="modal3" class="modal">
    <div class="modal-content">
      <h4>Delete Confirm</h4>
      <p>Are you sure to delete this account?</p>
      <form>
         <button type="submit" id="submit_form3" hidden="hidden"></button>
      </form>
       
    </div>
    <div class="modal-footer">
      <label for="submit_form3" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
          
  

<h5 style ="margin-left: 45%">Search By </h5>

  <div class ="row">
      <div class="col s6">
       
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Letters in Names</span>
              <div class="row">
                <form class="col s12" action="find.php" method="POST">
                  <div class="row">
                    <div class="input-field col s12">
                      <input type="text" name="letters"/>
                      <label for="Letters" data-error="wrong" data-success="right">Letters</label>
                      <input class="btn waves-effect waves-light" type="submit" name ="submit" value="Submit"/>
                    </div>
                  </div>
                </form>
              </div>
  
            </div>
          
          </div>
        
      </div>
      
      
      <div class="col s6">
        
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Data by Mail</span>
              <div class="row">
                <form class="col s12" action="find.php" method="POST">
                  <div class="row">
                    <div class="input-field col s12">
                      <input type="email" name="email"/>
                      <label for="Letters" data-error="wrong" data-success="right">Letters</label>
                     <input class="btn waves-effect waves-light" type="submit" name ="submit2" value="Submit2"/>
                    </div>
                  </div>
                </form>
              </div>

  
            </div>
          
          </div>
        
      </div>
     </div>

  

  